{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hernowo Ari Sutanto</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no"">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>
    <body>
        <div class="box-top">
            <div class="container">
                <img src="{% static 'img\fotodiri.jpg' %}" class="photo-box" style="display:inline-block;">
                <div class="text-box">
                    <h1>Tentangku...</h1>
                    <p>Halo, nama saya Hernowo Ari Sutanto, biasa dipanggil Hernowo, Nowo, atau Owo.<br>
                        Saya saat ini adalah seorang mahasiswa jurusan Ilmu Komputer di Universitas Indonesia.<br>
                        Hal yang biasa saya lakukan diwaktu luang adalah bermain video game.<br>
                    </p>
                </div>
            </div>
        </div>
  {% block content %}
  {% endblock content %}
  <div class="box-bot">
    <h1 class="text-box" style="color: white;"> Kontak </h1>
    <div class="box-kontak">
        <div class="box-logo">
            <a href="https://www.instagram.com/hernowo.arisutanto/" target="_blank">
            <span><img src="{% static 'img\iglogo.png'%}" width="50"></span> hernowo.arisutanto</a>
        </div>
        <div class="box-logo-steam">
            <a href="https://steamcommunity.com/id/BadBadtzMARU" target="_blank">
            <span><img src="{% static 'img\steamlogo.png'%}" width="50"></span> https://steamcommunity.com/id/BadBadtzMARU</a>
        <div class="box-logo">
            <a href="https://www.facebook.com/hernowo.arisutanto/" target="_blank">
            <span><img src="{% static 'img\facebook-logo.png'%}" width="35" height="50">  Hernowo Ari Sutanto</span></a>
        </div>
        </div>
    </div>
</div>
</body>
</html>
