{% extends 'base.html'%}
{% load static %}

{%block content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:home'%}">Halaman Utama</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main:profile'%}">Data diri</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:sekolah'%}">Riwayat sekolah</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'main:games'%}">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:watchlist'%}">Watchlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:story1'%}">Story 1</a>
        </li>
      </ul>
    </div>
</nav>
<div class="text-box">
    <h1 class="text-box" style="display: block;">Played Games</h1>
    <ul>
      <li><h2 style="display: block;">Dota 2</h2></li>
      <li><h2 style="display: block;">CSGO</h2></li>
      <li><h2 style="display: block;">Valorant</h2></li>
    </ul>
</div>
{%endblock%}
        