{% extends 'base.html'%}
{% load static %}

{%block content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:home'%}">Halaman Utama</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main:profile'%}">Data diri</a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'main:sekolah'%}">Riwayat sekolah<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:games'%}">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:watchlist'%}">Watchlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:story1'%}">Story 1</a>
        </li>
      </ul>
    </div>
</nav>
<div class="text-box">
    <h1 class="text-box" style="display: block;">Riwayat pendidikan</h1>
    <h2 style="display: block; margin-top: 20px;">SD Negeri 20 Mekarjaya</h2>
    <p style="display: block; margin-bottom: 20px;">2007 - 2013</p>
    <h2 style="display: block; margin-top: 20px;">SMP Negeri 4 Depok</h2>    
    <p style="display: block; margin-bottom: 20px;">2013 - 2016</p>
    <h2 style="display: block; margin-top: 20px;">SMA Negeri 1 Depok</h2>
    <p style="display: block; margin-bottom: 20px;">2016 - 2019</p>
</div>
{%endblock%}
        