{% extends 'base.html'%}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:home'%}">Halaman Utama</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main:profile'%}">Data diri</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:sekolah'%}">Riwayat sekolah</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:games'%}">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:watchlist'%}">Watchlist</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'main:story1'%}">Story 1<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
</nav>
<h1>Hello...</h1>
<left><img src="{% static 'img/fotodiri.jpg'%}" width="250" height="300"></left>
<h2>Kenalan Yukk</h2>
<p>Halo, nama saya Hernowo Ari Sutanto, biasa dipanggil Hernowo, Nowo, atau Owo.<br>
Saya saat ini adalah seorang mahasiswa jurusan Ilmu Komputer di Universitas Indonesia.<br>
Hal yang biasa saya lakukan diwaktu luang adalah bermain video game.</p>
<h2>Data Diri Singkat</h2>
<ul>
    <li>Nama     :Hernowo Ari Sutanto</li>
    <li>NPM      :1906400274</li>
    <li>Angkatan :Maung (2019)</li>
</ul>
<h2>Riwayat Pendidikan</h2>
<ul>
    <li>SD Negeri 20 Mekarjaya</li>
    <li>SMP Negeri 4 Depok</li>
    <li>SMA Negeri 1 Depok</li>
</ul>
<h2>Kontak</h2>
<ul>
    <li><a href="https://www.instagram.com/hernowo.arisutanto/" target="_blank">
    <span><img src="{% static 'img/iglogo.png'%}" width="50"></span></a></li>
    <li><a href="https://steamcommunity.com/id/BadBadtzMARU" target="_blank">
    <span><img src="{% static 'img/steamlogo.png'%}" width="50"></span></a></li>
</ul> 
{% endblock %}