{% extends 'base.html'%}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:home'%}">Halaman Utama</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main:profile'%}">Data diri</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:sekolah'%}">Riwayat sekolah</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:games'%}">Games</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'main:watchlist'%}">Watchlist<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:story1'%}">Story 1</a>
        </li>
      </ul>
    </div>
</nav>
<div class="text-box">
    <h1 class="text-box" style="display: block;">Film/Series yang mau di tonton</h1>
    <ul>
      <li><h3 style="display: block;">Dark</h3>
        <img src="{% static 'img\dark.jpg' %}" style="height: 280px; width: 250px; margin-bottom: 20px;"></li>
      <li><h3 style="display: block;">Blood of Zeus</h3>
        <img src="{% static 'img\Blood-of-Zeus.jpg' %}" style="height: 280px; width: 300px; margin-bottom: 20px;"></li>
      <li><h3 style="display: block;">Dragon Prince</h3>
        <img src="{% static 'img\TheDragonPrince.jpg' %}" style="height: 280px; width: 250px; margin-bottom: 20px;"></li>
    </ul>
</div>
{% endblock %}